<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplication1.Properties.Settings.ServerBTSSSQLConnectionString"
            connectionString="Data Source=VMANNMBPS1\SQLEXPRESS;Initial Catalog=BTSSSQL;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="WindowsFormsApplication1.Properties.Settings.ClientBTSSSQLConnectionString"
            connectionString="Data Source=|DataDirectory|\BTSSSQL.sdf;Max Database Size=2047"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>